<!-- hero -->
<div class="mil-relative h-[80vh] flex items-center" id="top">
    <img src="/img/ui/bg.png" alt="background" class="mil-bg" style="top: 0">
    <div class="container mil-column mil-jcb">
        <div class="row mil-jcb mil-h-100 items-center">
            <div class="col-lg-12">
                <div class="mil-main-title mil-jcc mil-aic mil-column justify-center">
                    <div class="mil-column mil-sm-mb-0 mil-w-100 items-center">
                        <div class="mil-aic mb-16">
                            <div class="mil-word-frame flex flex-col">
                                <h1 class="mil-fs-100 mil-sm-fs-58 mil-lh-110 mil-mb-30">Thank you!</h1>
                                <p class="mil-fs-30 text-center max-w-full sm:max-w-[70%]">Thank you for your message and we truly appreciate you taking the time to contact us. We will get back to you as soon as possible.</p>
                            </div>
                        </div>
                        <div class="mil-aic">
                            <a href="/contact" class="mil-btn mil-icon-btn mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-hover-scale">
                                Go back home<i class="far fa-home mil-bg-m-4 mil-m-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero end -->