<div class="col-lg-12 col-xxl-5 mil-mb-15 mil-up">
    <div class="mil-discount-card mil-hover-move mil-call-popup">
        <div class="mil-text-part mil-aic mil-bg-a-1">
            <div class="mil-aic">
                <div class="mil-dscnt-star mil-invert">
                    <img src="/img/ui/star.svg" alt="star">
                    <div class="mil-fs-40 mil-lh-100 mil-m-3 mil-fw-700">
                        $<span class="mil-counter" data-number="30">30</span>
                    </div>
                </div>
                <div>
                    <p class="mil-m-1 mil-mb-15 mil-opacity-7">Hurry up!</p>
                    <h3 class="mil-fs-32 mil-mb-20">Discount for the first cleaning
                        <span class="mil-m-4">*</span>
                    </h3>
                    <p class="mil-m-1 mil-opacity-7">Limited time offer!</p>
                </div>
            </div>
        </div>
        <div class="mil-dscnt-part">
            <img src="/img/ui/discount.svg" alt="discount">
            <div class="mil-up-text mil-m-4">Get it now</div>
        </div>
    </div>
</div>