<!-- footer -->
<footer>
    <div class="mil-footer-bg">
        <video
            class="mil-footer-bg mil-scale-img"
            data-value-1="1"
            data-value-2="1.3"
            autoplay="autoplay"
            loop="loop"
            muted
            playsinline
            oncontextmenu="return false;"
            preload="auto">
            <source src="/img/ui/footer.mp4">
        </video>
    </div>
    <div class="mil-footer-content">
        <div class="container">
            <div class="row mil-p-f-60">
                <div class="col-lg-7 col-md-6 col-sm-12 mil-mb-60">
                    <div class="row">
                        <div class="col-8 col-md-6">
                            <a href="#top" class="mil-logo mil-hover-bri-105 mil-mb-30  w-40 block">
                                <img src="/img/ui/logo-light.png" alt="logo" class="mil-light">
                            </a>
                        </div>
                    </div>
                    <p class="max-w-[350px] block ">{{data.description}}</p>
                    <div class="col-lg-7 col-md-6 col-sm-12 mil-column mil-jcb mil-mb-60 mt-8">
                        <ul class="mil-aic mil-mb-30 ">
                            <li class="mil-mr-20 mil-fs-20 mil-m-3">
                                <a href="{{data.facebook}}" target="_blank" data-no-swup class="mil-hover-a-1">
                                    <i class="fab fa-facebook text-5xl"></i>
                                </a>
                            </li>
                            <li class="mil-mr-20 mil-fs-20 mil-m-3">
                                <a href="{{data.instagram}}" target="_blank" data-no-swup class="mil-hover-a-1">
                                    <i class="fab fa-instagram text-5xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 mil-mb-60">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 ">
                                    <a href="/">Home</a>
                                </li>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 ">
                                    <a href="/services">Services</a>
                                </li>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 ">
                                    <a href="/quote">{{ data.quoteText }}</a>
                                </li>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 ">
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li class="-text mil-hover-m-4 mil-mb-20 ">
                                    <a href="/services/deep-clean">Deep Clean (1st clean)</a>
                                </li>
                                <li class="-text mil-hover-m-4 mil-mb-20 ">
                                    <a href="/services/standard-cleaning">Standard Cleaning</a>
                                </li>
                                <li class="-text mil-hover-m-4 mil-mb-20 ">
                                    <a href="/services/monthly-premium-clean">Monthly Premium Clean</a>
                                </li>
                                <li class="-text mil-hover-m-4 mil-mb-20 ">
                                    <a href="/services/move-in-out-cleaning">Move In/Out Cleaning</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mil-dots "></div>
            <div class="mil-footer-bottom mil-aic mil-jcb ">
                <p>&copy; Copyright
                    <span class="year">2024</span>
                    Snappy Clean. All Rights Reserved.</p>
                <ul class="mil-aic ">
                    <li class="mil-hover-m-4 mil-mr-20">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="mil-hover-m-4 mil-mr-20">
                        <a href="/terms-and-conditions">Terms and conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->