<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#EDCE29"/>
    <meta name="description" content="{{ description }}"/>
    <link rel="shortcut icon" href="/img/ui/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/vendor/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/vendor/css/swiper.css"/>
    <link rel="stylesheet" href="/vendor/css/fancybox.css"/>
    <link rel="stylesheet" href="/vendor/css/fancybox.css"/>
    <link rel="stylesheet" href="/vendor/css/fontawesome.css"/>
    <link rel="stylesheet" href="/css/tailwind.css"/>
    <link rel="stylesheet" href="{{ hash['/css/style.css'] | url }}"/>
    <script defer="defer" src="{{ hash['/js/scripts.js'] | url }}"></script>
    <title>{{ title }}</title>
    <!-- Google tag (gtag.js) -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-YYFSQLWWZM"></script>
    {% include "components/global/google-analytics.njk" %}
</head>