<div class="mil-right-buttons-frame">
    <div class="mil-right-buttons">
        <a href="#top" class="mil-side-btn mil-back-to-top mil-hover-bri-120">
            <i class="far fa-arrow-up mil-a-1"></i>
        </a>
        <a href="tel:{{data.phoneNoSpaces}}" class="mil-side-btn mil-open-window mil-hover-bri-120" data-no-swup="data-no-swup"></a>
    </div>
</div>