<div class="mil-top-panel">
    <div class="container">
        <div class="mil-tp-content">
            <div class="mil-left">
                <a href="/" id="#top" class="mil-logo mil-hover-bri-105" style="width: 20rem">
                    <img src="/img/ui/logo.png" alt="logo">
                    <img src="/img/ui/logo-light.png" alt="logo" class="mil-light">
                </a>
            </div>
            <nav class="mil-main-menu">
                <ul id="swupMenu" class="mil-menu-transition mil-aic mil-m-4">
                    <li class="mil-has-children mil-current">
                        <a href="/services">Services</a>
                        <ul>
                            <li><a href="/services/residential-cleaning">Residential Cleaning</a></li>
                            <li><a href="/services/commercial-cleaning">Commercial Cleaning</a></li>
                            <li><a href="/services/subscription">Subscription</a></li>
                            <li><a href="/quote">Get A Quote</a></li>
                        </ul>
                    </li>
                    <li class="mil-has-children">
                        <a href="#">Service Ares</a>
                        <ul>
                            <li><a href="/service-areas/kitchener-waterloo">Kitchener/Waterloo</a></li>
                            <li><a href="/service-areas/guelph">Guelph</a></li>
                            <li><a href="/service-areas/cambridge">Cambridge</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/services/quote">Get a Quote</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="mil-right mil-jce">
                <div class="mil-tp-phone mil-aic mil-mr-60 mil-sm-mr-15">
                    <i class="far fa-mobile mil-icon mil-sm mil-bg-a-2 mil-m-4 mil-mr-15 mil-sm-hidden" style="padding-top: .2rem"></i>
                    <a href="tel:+380123456789" class="mil-fw-600" data-no-swup>+1 (049) 129-45X7</a>
                </div>
                <a
                    href="/services/quote"
                    class="mil-btn mil-lg mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-icon-btn mil-hover-scale mil-md-hidden">
                    <span>Get a Quote</span>
                    <i class="far fa-magic mil-bg-m-1 mil-a-1"></i>
                </a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>