<script src="/vendor/js/SwupBodyClassPlugin.min.js"></script>
<script src="/vendor/js/swup.min.js"></script>
<script src="/vendor/js/gsap.js"></script>
<script src="/vendor/js/scroll-trigger.js"></script>
<script src="/vendor/js/lenis.js"></script>
<script src="/vendor/js/cleave.js"></script>
<script src="/vendor/js/swiper.min.js"></script>
<script src="/vendor/js/fancybox.js"></script>
<script src="/vendor/js/calculator.js"></script>