<!-- services -->
<div class="mil-p-f-15" id="scroll">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Basic services</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">01</b>
        </div>
        <div class="grid grid-cols-2 gap-5">
            {% for service in services %}
                <div class="mil-up">
                    <a href="{{ service.link }}" class="mil-service-card mil-bg-m-4 mil-br-md h-full">
                        <div class="row">
                            <div class="col-sm-5 mil-column mil-jcb mil-sm-mb-40">
                                <h3 class="mil-fs-30 mil-mb-30 mil-lh-110">{{ service.name }}</h3>
                                <div>
                                    <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">Learn more</div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <ul class="mil-check-list">
                                    {% for point in service.points %}
                                        <li>{{ point }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- services end -->