<!-- subscription -->
<div class="mil-p-0-15" id="scroll">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Monthly subscription</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">01</b>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mil-mb-15 mil-up">
                <a href="contact.html" class="mil-subscription-card mil-bg-m-4 mil-br-md">
                    <div class="mil-card-head mil-bg-m-1">
                        <h4 class="mil-fs-24 mil-m-4">Basic Care</h4>
                    </div>
                    <div class="mil-card-body">
                        <div class="mil-m-1 mil-fs-20 mil-fw-600 mil-mb-15">from $
                            <span class="mil-fs-52">199</span>
                            <span class="mil-fw-400 mil-fs-16">/month</span>
                        </div>
                        <p class="mil-mb-30">4 times a month, 1 time a week</p>
                        <div class="mil-dots mil-mb-30"></div>
                        <div class="col-sm-12">
                            <ul class="mil-check-list mil-mb-40">
                                <li>Dust all surfaces</li>
                                <li>Mop floors</li>
                                <li>Clean kitchen surfaces</li>
                                <li>Disinfect bathroom and toilet</li>
                                <li>Take out trash</li>
                            </ul>
                            <div class="mil-dots mil-mb-30"></div>
                            <div>
                                <div class="mil-btn mil-bg-m-3 mil-br-xl mil-hover-bg-a-1 mil-hover-scale">Choose a plan</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mil-mb-15 mil-up">
                <a href="contact.html" class="mil-subscription-card mil-bg-m-4 mil-br-md">
                    <div class="mil-card-head mil-bg-a-2">
                        <h4 class="mil-fs-24 mil-m-4">Essential Clean</h4>
                    </div>
                    <div class="mil-card-body">
                        <div class="mil-m-1 mil-fs-20 mil-fw-600 mil-mb-15">from $
                            <span class="mil-fs-52">399</span>
                            <span class="mil-fw-400 mil-fs-16">/month</span>
                        </div>
                        <p class="mil-mb-30">8 times a month, 2 time a week</p>
                        <div class="mil-dots mil-mb-30"></div>
                        <div class="col-sm-12">
                            <ul class="mil-check-list mil-mb-40">
                                <li>Dust all surfaces</li>
                                <li>Mop floors</li>
                                <li>Clean kitchen surfaces</li>
                                <li>Disinfect bathroom and toilet</li>
                                <li>Take out trash</li>
                            </ul>
                            <div class="mil-dots mil-mb-30"></div>
                            <div>
                                <div class="mil-btn mil-bg-m-3 mil-br-xl mil-hover-bg-a-1 mil-hover-scale">Choose a plan</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mil-mb-15 mil-up">
                <a href="contact.html" class="mil-subscription-card mil-bg-m-4 mil-br-md">
                    <div class="mil-card-head mil-bg-a-1">
                        <h4 class="mil-fs-24 mil-m-1">Premium Shine</h4>
                    </div>
                    <div class="mil-card-body">
                        <div class="mil-m-1 mil-fs-20 mil-fw-600 mil-mb-15">from $
                            <span class="mil-fs-52">599</span>
                            <span class="mil-fw-400 mil-fs-16">/month</span>
                        </div>
                        <p class="mil-mb-30">12 times a month, 3 time a week</p>
                        <div class="mil-dots mil-mb-30"></div>
                        <div class="col-sm-12">
                            <ul class="mil-check-list mil-mb-40">
                                <li>Dust all surfaces</li>
                                <li>Mop floors</li>
                                <li>Clean kitchen surfaces</li>
                                <li>Disinfect bathroom and toilet</li>
                                <li>Take out trash</li>
                            </ul>
                            <div class="mil-dots mil-mb-30"></div>
                            <div>
                                <div class="mil-btn mil-bg-m-3 mil-br-xl mil-hover-bg-a-1 mil-hover-scale">Choose a plan</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- subscription end -->
<!-- subscription -->
<div class="mil-p-0-15">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Annual subscription</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">02</b>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mil-mb-15 mil-up">
                <a href="contact.html" class="mil-subscription-card mil-bg-m-4 mil-br-md">
                    <div class="mil-card-head mil-bg-m-1">
                        <h4 class="mil-fs-24 mil-m-4">Basic Care</h4>
                    </div>
                    <div class="mil-card-body">
                        <div class="mil-m-1 mil-fs-20 mil-fw-600 mil-mb-15">from $
                            <span class="mil-fs-52">1999</span>
                            <span class="mil-fw-400 mil-fs-16">/year</span>
                        </div>
                        <p class="mil-mb-30">4 times a month, 1 time a week, 48 in total</p>
                        <div class="mil-dots mil-mb-30"></div>
                        <div class="col-sm-12">
                            <ul class="mil-check-list mil-mb-40">
                                <li>Dust all surfaces</li>
                                <li>Mop floors</li>
                                <li>Clean kitchen surfaces</li>
                                <li>Disinfect bathroom and toilet</li>
                                <li>Take out trash</li>
                            </ul>
                            <div class="mil-dots mil-mb-30"></div>
                            <div>
                                <div class="mil-btn mil-bg-m-3 mil-br-xl mil-hover-bg-a-1 mil-hover-scale">Choose a plan</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mil-mb-15 mil-up">
                <a href="contact.html" class="mil-subscription-card mil-bg-m-4 mil-br-md">
                    <div class="mil-card-head mil-bg-a-2">
                        <h4 class="mil-fs-24 mil-m-4">Essential Clean</h4>
                    </div>
                    <div class="mil-card-body">
                        <div class="mil-m-1 mil-fs-20 mil-fw-600 mil-mb-15">from $
                            <span class="mil-fs-52">3999</span>
                            <span class="mil-fw-400 mil-fs-16">/year</span>
                        </div>
                        <p class="mil-mb-30">8 times a month, 2 time a week, 96 in total</p>
                        <div class="mil-dots mil-mb-30"></div>
                        <div class="col-sm-12">
                            <ul class="mil-check-list mil-mb-40">
                                <li>Dust all surfaces</li>
                                <li>Mop floors</li>
                                <li>Clean kitchen surfaces</li>
                                <li>Disinfect bathroom and toilet</li>
                                <li>Take out trash</li>
                            </ul>
                            <div class="mil-dots mil-mb-30"></div>
                            <div>
                                <div class="mil-btn mil-bg-m-3 mil-br-xl mil-hover-bg-a-1 mil-hover-scale">Choose a plan</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mil-mb-15 mil-up">
                <a href="contact.html" class="mil-subscription-card mil-bg-m-4 mil-br-md">
                    <div class="mil-card-head mil-bg-a-1">
                        <h4 class="mil-fs-24 mil-m-1">Premium Shine</h4>
                    </div>
                    <div class="mil-card-body">
                        <div class="mil-m-1 mil-fs-20 mil-fw-600 mil-mb-15">from $
                            <span class="mil-fs-52">5999</span>
                            <span class="mil-fw-400 mil-fs-16">/year</span>
                        </div>
                        <p class="mil-mb-30">12 times a month, 3 time a week, 144 in total</p>
                        <div class="mil-dots mil-mb-30"></div>
                        <div class="col-sm-12">
                            <ul class="mil-check-list mil-mb-40">
                                <li>Dust all surfaces</li>
                                <li>Mop floors</li>
                                <li>Clean kitchen surfaces</li>
                                <li>Disinfect bathroom and toilet</li>
                                <li>Take out trash</li>
                            </ul>
                            <div class="mil-dots mil-mb-30"></div>
                            <div>
                                <div class="mil-btn mil-bg-m-3 mil-br-xl mil-hover-bg-a-1 mil-hover-scale">Choose a plan</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- subscription end -->