<!-- gallery -->
<div class="mil-p-f-0">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Gallery</h2>
            <div class="mil-dots"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/1.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/1.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/2.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/2.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/3.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/3.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/4.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/4.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/5.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/5.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/6.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/6.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/7.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/7.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/8.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/8.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/9.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/9.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/10.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/10.jpg" alt="gallery">
                </a>
            </div>
            <div class="col-lg-3 mil-mb-15 mil-up">
                <a href="img/gallery/11.jpg" class="mil-gallery-item" data-no-swup data-fancybox="gallery">
                    <img src="/img/gallery/11.jpg" alt="gallery">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- gallery end -->