<!-- features -->
<div id="scroll">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Why choose us</h2>
            <div class="mil-dots"></div>
        </div>
        <div class="mil-features mil-bg-m-4 mil-br-md flex items-center flex-wrap md:flex-nowrap flex-col-reverse md:flex-row p-20 gap-10">
            <div class="grid grid-cols-3 gap-4 w-full md:w-1/2">
            {% for item in whyUs %}
                <div class="mil-tac mil-up flex flex-col items-center">
                    <img src="/img/ui/icons/{{ item.icon}}" alt="icon" class="mil-card-icon mil-mb-30 w-32 max-w-24"/>
                    <h3 class="mil-fs-24 mil-mb-20 mil-lh-110">{{ item.text | safe }}</h3>
                </div>
            {% endfor %}
            </div>
            <div class="w-full md:w-1/2">
                <h2 class="mil-fs-40 mb-16">We think our services are the best in the area, and we&rsquo;re sure you&rsquo;ll&nbsp;agree.</h2>
                <p class="mil-fs-20">We offer easy online booking, secure payments, and exceptional cleaning services at affordable prices. Our vetted cleaners come with a 100% satisfaction guarantee, and you can schedule recurring cleanings to keep your home effortlessly tidy.</p>
            </div>
        </div>
    </div>
</div>
<!-- features end -->