<!-- calculator -->
<div id="scroll">
    <div class="container mil-p-0-f">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Write to us</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">01</b>
        </div>
        <div class="mil-calculator">
            <form>
                <div class="row mil-aic mil-jcb mil-mb-15">
                    <div class="col-12 col-md-3 mil-sm-mb-15">
                        <div class="mil-input-frame mil-custom-select mil-up">
                            <div class="mil-select-button mil-br-md mil-bg-m-4">
                                <span class="mil-selected-value mil-fs-18 mil-fw-600 mil-m-1">Basic cleaning</span>
                            </div>
                            <ul class="mil-select-dropdown mil-cleaning-type mil-br-md">
                                <li>
                                    <input
                                        type="radio"
                                        id="basic-cleaning"
                                        name="cleaning"
                                        value="90"
                                        data-apartment="90"
                                        data-house="120"
                                        data-office="140"
                                        data-industrial="180"
                                        checked="checked">
                                        <label for="basic-cleaning">Basic cleaning</label>
                                    </li>
                                    <li>
                                        <input
                                            type="radio"
                                            id="general-cleaning"
                                            name="cleaning"
                                            value="120"
                                            data-apartment="120"
                                            data-house="150"
                                            data-office="180"
                                            data-industrial="200">
                                            <label for="general-cleaning">General cleaning</label>
                                        </li>
                                        <li>
                                            <input
                                                type="radio"
                                                id="post-construction"
                                                name="cleaning"
                                                value="150"
                                                data-apartment="150"
                                                data-house="180"
                                                data-office="210"
                                                data-industrial="240">
                                                <label for="post-construction">Post-construction</label>
                                            </li>
                                        </ul>
                                        <i class="far fa-chevron-down mil-a-2"></i>
                                    </div>
                                </div>
                                <div class="col-12 col-md-9">
                                    <div class="mil-calc-panel mil-br-md mil-jce mil-md-jcs mil-up">
                                        <div class="mil-br-md">
                                            <div class="row mil-aic">
                                                <div class="col-sm-6 mil-aic mil-mb-30">
                                                    <label class="mil-custom-radio mil-mr-30 mil-fs-18">
                                                        <input type="radio" id="property-apartment" name="property" value="apartment" checked="checked">
                                                            <span class="mil-radio-checkmark"></span>
                                                            Apartment
                                                        </label>
                                                        <label class="mil-custom-radio mil-mr-30 mil-fs-18">
                                                            <input type="radio" id="property-house" name="property" value="house">
                                                                <span class="mil-radio-checkmark"></span>
                                                                House
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-6 mil-aic mil-mb-30">
                                                            <label class="mil-custom-radio mil-mr-30 mil-fs-18">
                                                                <input type="radio" id="property-office" name="property" value="office">
                                                                    <span class="mil-radio-checkmark"></span>
                                                                    Office
                                                                </label>
                                                                <label class="mil-custom-radio mil-fs-18">
                                                                    <input type="radio" id="property-industrial" name="property" value="industrial">
                                                                        <span class="mil-radio-checkmark"></span>
                                                                        Industrial
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mil-aic mil-h-100">
                                                <div class="col-12 col-md-6">
                                                    <div class="mil-calc-panel mil-br-md mil-mb-15 mil-up">
                                                        <div class="mil-area-slider mil-aic mil-mb-30">
                                                            <label for="area" class="mil-m-1 mil-fw-600 mil-mr-30 mil-fs-18">Area (m²):</label>
                                                            <div class="mil-custom-range-slider">
                                                                <input type="range" id="area" name="area" min="30" max="300" value="90">
                                                                    <div class="range-track">
                                                                        <div class="range-fill"></div>
                                                                    </div>
                                                                    <div class="range-thumb"></div>
                                                                </div>
                                                                <span id="area-value" class="mil-value mil-m-1 mil-fw-600 mil-fs-18">90m²</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <div class="mil-calc-panel-2 mil-br-md mil-mb-15 mil-up">
                                                            <div class="mil-rooms mil-w-100">
                                                                <div class="row">
                                                                    <div class="col-12 col-md-6 mil-mb-15">
                                                                        <div class="mil-aic mil-jcc mil-sm-jcb">
                                                                            <span class="mil-m-1 mil-fw-600 mil-fs-18 mil-mr-15">Bedrooms:</span>
                                                                            <div class="mil-bedrooms mil-aic">
                                                                                <button type="button" class="mil-room-btn" onclick="updateRoomCount('bedrooms', -1)">−</button>
                                                                                <span id="bedrooms-count" class="mil-room-count">1</span>
                                                                                <button type="button" class="mil-room-btn" onclick="updateRoomCount('bedrooms', 1)">+</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 mil-mb-15">
                                                                        <div class="mil-aic mil-jcc mil-sm-jcb">
                                                                            <span class="mil-m-1 mil-fw-600 mil-fs-18 mil-mr-15">Bathrooms:</span>
                                                                            <div class="mil-bathrooms mil-aic">
                                                                                <button type="button" class="mil-room-btn" onclick="updateRoomCount('bathrooms', -1)">−</button>
                                                                                <span id="bathrooms-count" class="mil-room-count">1</span>
                                                                                <button type="button" class="mil-room-btn" onclick="updateRoomCount('bathrooms', 1)">+</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mil-additional-services">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                            <label for="cb1" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600 mil-already-included">
                                                                <input type="checkbox" id="cb1" name="additional-service" value="15" class="mil-additional-service" checked="checked">
                                                                    <span class="mil-service-name mil-fs-18">Floor washing</span>
                                                                    <span class="mil-checkbox-checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                <label for="cb2" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600 mil-already-included">
                                                                    <input type="checkbox" id="cb2" name="additional-service" value="30" class="mil-additional-service" checked="checked">
                                                                        <span class="mil-service-name mil-fs-18">Vacuuming the floor</span>
                                                                        <span class="mil-checkbox-checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                    <label for="cb3" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                        <input type="checkbox" id="cb3" name="additional-service" value="25" class="mil-additional-service">
                                                                            <span class="mil-service-name mil-fs-18">Dusting Surfaces</span>
                                                                            <span class="mil-checkbox-checkmark"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                        <label for="cb4" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                            <input type="checkbox" id="cb4" name="additional-service" value="20" class="mil-additional-service">
                                                                                <span class="mil-service-name mil-fs-18">Limescale removal from plumbing</span>
                                                                                <span class="mil-checkbox-checkmark"></span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                            <label for="cb5" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                <input type="checkbox" id="cb5" name="additional-service" value="15" class="mil-additional-service">
                                                                                    <span class="mil-service-name mil-fs-18">Cleaning the refrigerator</span>
                                                                                    <span class="mil-checkbox-checkmark"></span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                <label for="cb6" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600 mil-unavailable">
                                                                                    <input type="checkbox" id="cb6" name="additional-service" value="60" class="mil-additional-service">
                                                                                        <span class="mil-service-name mil-fs-18">Window cleaning</span>
                                                                                        <span class="mil-checkbox-checkmark"></span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                    <label for="cb7" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                        <input type="checkbox" id="cb7" name="additional-service" value="30" class="mil-additional-service">
                                                                                            <span class="mil-service-name mil-fs-18">Dishwashing</span>
                                                                                            <span class="mil-checkbox-checkmark"></span>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                        <label for="cb8" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                            <input type="checkbox" id="cb8" name="additional-service" value="25" class="mil-additional-service">
                                                                                                <span class="mil-service-name mil-fs-18">Cleaning the hood</span>
                                                                                                <span class="mil-checkbox-checkmark"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                            <label for="cb9" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                <input type="checkbox" id="cb9" name="additional-service" value="20" class="mil-additional-service">
                                                                                                    <span class="mil-service-name mil-fs-18">Oven cleaning</span>
                                                                                                    <span class="mil-checkbox-checkmark"></span>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                <label for="cb10" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                    <input type="checkbox" id="cb10" name="additional-service" value="15" class="mil-additional-service">
                                                                                                        <span class="mil-service-name mil-fs-18">Cleaning kitchen cabinets</span>
                                                                                                        <span class="mil-checkbox-checkmark"></span>
                                                                                                    </label>
                                                                                                </div>
                                                                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                    <label for="cb11" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                        <input type="checkbox" id="cb11" name="additional-service" value="30" class="mil-additional-service">
                                                                                                            <span class="mil-service-name mil-fs-18">Microwave oven</span>
                                                                                                            <span class="mil-checkbox-checkmark"></span>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                        <label for="cb12" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                            <input type="checkbox" id="cb12" name="additional-service" value="25" class="mil-additional-service">
                                                                                                                <span class="mil-service-name mil-fs-18">Wall tiles</span>
                                                                                                                <span class="mil-checkbox-checkmark"></span>
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                            <label for="cb13" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                                <input type="checkbox" id="cb13" name="additional-service" value="20" class="mil-additional-service">
                                                                                                                    <span class="mil-service-name mil-fs-18">Cleaning light fixtures</span>
                                                                                                                    <span class="mil-checkbox-checkmark"></span>
                                                                                                                </label>
                                                                                                            </div>
                                                                                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                                <label for="cb14" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                                    <input type="checkbox" id="cb14" name="additional-service" value="20" class="mil-additional-service">
                                                                                                                        <span class="mil-service-name mil-fs-18">Folding clothes</span>
                                                                                                                        <span class="mil-checkbox-checkmark"></span>
                                                                                                                    </label>
                                                                                                                </div>
                                                                                                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                                    <label for="cb15" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                                        <input type="checkbox" id="cb15" name="additional-service" value="10" class="mil-additional-service">
                                                                                                                            <span class="mil-service-name mil-fs-18">Limescale removal from shower</span>
                                                                                                                            <span class="mil-checkbox-checkmark"></span>
                                                                                                                        </label>
                                                                                                                    </div>
                                                                                                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mil-mb-15 mil-up">
                                                                                                                        <label for="cb16" class="mil-service mil-custom-checkbox mil-m-1 mil-fw-600">
                                                                                                                            <input type="checkbox" id="cb16" name="additional-service" value="20" class="mil-additional-service">
                                                                                                                                <span class="mil-service-name mil-fs-18">Polishing wooden surfaces</span>
                                                                                                                                <span class="mil-checkbox-checkmark"></span>
                                                                                                                            </label>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="mil-total-price mil-bg-m-4 mil-br-md mil-up">
                                                                                                                    <div class="row mil-jcb mil-aic">
                                                                                                                        <div class="col-12 col-md-5 mil-mb-30">
                                                                                                                            <div class="mil-jcs mil-ais">
                                                                                                                                <i class="fal fa-info-circle mil-bg-a-1 mil-br-f mil-m-1 mil-mr-15" style="padding: .5rem"></i>
                                                                                                                                <p>The price is indicative only. For a more detailed discussion of all the services you need, use the
                                                                                                                                    <a href="contact.html" class="mil-text-link mil-a-2">contact form</a>
                                                                                                                                    or request a
                                                                                                                                    <a href="contact.html" class="mil-text-link mil-a-2">call back</a>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <div class="col-12 col-md-6 mil-jce mil-sm-jcs mil-mb-30">
                                                                                                                            <div class="mil-tp-frame">
                                                                                                                                <span class="mil-price-number mil-m-1 mil-fs-18 mil-fw-600">Total price: &nbsp;&nbsp;$
                                                                                                                                    <span id="total-price" class="mil-fs-36">90</span>
                                                                                                                                </span>
                                                                                                                                <button type="submit" class="mil-btn mil-br-xl mil-bg-a-2 mil-m-4 mil-hover-bri-110 mil-icon-btn">Order Services<i class="far fa-broom mil-bg-m-4 mil-a-2"></i>
                                                                                                                                </button>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </form>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!-- calculator end -->