<!DOCTYPE html>
<html lang="en">
  {% include "components/global/head.njk" %}
  <body
    class="antialiased">
    <!-- page wrapper -->
    <div class="mil-page-wrapper">
      
      {% include "components/global/header.njk" %}

      <div id="swupMain" class="transition-fade">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
        {% include "components/global/footer.njk" %}
      </div>
    </div>
    {% include "components/global/scripts.njk" %}
  </body>
</html>