<!-- faq -->
<div class="py-32mil-subscribe mil-up single-service" id="faq">
    <div
        class="container">
        <div class="mb-40">
            <p class="mb-10 mil-fs-24 text-[#474747]">Ideal for homes that haven't been cleaned in a while or for a detailed seasonal refresh, our Deep Cleaning Package is
                the most thorough service we offer. The key difference is the extra time and attention we dedicate to often-overlooked
                areas, especially vertical surfaces.</p>
            <p class="mb-10 mil-fs-24 text-[#474747]">This includes cobweb removal, cleaning and polishing light fixtures, wiping down window sills and tracks, scrubbing
                baseboards, and cleaning the exterior of cabinets and drawers. We also focus on wiping down doors, handles, and light
                switches, as well as detailed cleaning behind and under furniture.</p>
            <p class="mb-10 mil-fs-24 text-[#474747]">Our Deep Clean ensures a comprehensive, spotless home with attention to all those hard-to-reach areas.</p>
        </div>
        <div class="row mil-mb-60">
            <div class="col-lg-6">
                {% for item in deepCleaningFaq %}
                    {% if (loop.index <= 4) %}
                        <div class="mil-mb-15">
                            <button class="mil-accordion mil-fw-600 mil-fs-20">{{ item.title }}<span class="mil-icon mil-sm mil-bg-m-3">+</span>
                            </button>
                            <div class="mil-panel">
                                <p class="mil-lh-160 mil-fs-18">{{ item.content|safe }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-6">
                {% for item in deepCleaningFaq %}
                    {% if (loop.index >= 5) %}
                        <div class="mil-mb-15">
                            <button class="mil-accordion mil-fw-600 mil-fs-20">{{ item.title }}<span class="mil-icon mil-sm mil-bg-m-3">+</span>
                            </button>
                            <div class="mil-panel">
                                <p class="mil-lh-160 mil-fs-18">{{ item.content|safe }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mil-mb-30">
                <p class="mil-lh-160 mil-fs-18">Didn&rsquo;t find the answer to your question? Visit our Contact page and let us help!
                    We&rsquo;re here to provide the information you need. Reach out to us anytime &mdash; we'd love to assist you!</p>
            </div>
            <div class="col-lg-6 mil-jce mil-sm-jcs mil-mb-30">
                <a href="/contact" class="mil-btn mil-bg-m-2-light mil-br-xl mil-hover-bg-a-1 mil-hover-scale mil-icon-btn">Contact us<i class="far fa-envelope mil-bg-m-4 mil-m-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- faq end -->