<!-- steps -->
<div class="mil-p-f-15">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Cleaning Process</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">02</b>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {% for step in residentialSteps %}
            <div class="mil-up">
                <div class="mil-step-card mil-step-line mil-bg-m-4 mil-br-md h-full">
                    <div class="mil-fs-40 mil-ff-3 mil-a-2 mil-mb-20">{{loop.index}}</div>
                    <h3 class="mil-fs-30 mil-mb-20 mil-lh-110 mil-mb-15">{{ step.title }}</h3>
                    <p>{{ step.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- steps end -->