@use "variables";

.star-title .mil-text-star {
  top: -30px;
  right: -50px;
}

#quote-form {
  input {
    background-color: white !important;

    &::placeholder {
      font-weight: bold;
      color: black;
    }

    &:focus {
      outline: 2px solid variables.$a-2;
      outline-offset: 2px;

      &::placeholder {
        font-weight: bold;
        color: variables.$m-2;
      }
    }
  }
}
.page--services,
.page--residential-cleaning {
  .mil-word-frame {
    .mil-text-star {
      top: -30px;
      right: -50px;
    }
  }
}
