@use "variables";

.star-title .mil-text-star {
  top: -30px;
  right: -50px;
}

#quote-form {
  input {
    background-color: white !important;

    &::placeholder {
      font-weight: bold;
      color: black;
    }

    &:focus {
      outline: 2px solid variables.$a-2;
      outline-offset: 2px;

      &::placeholder {
        font-weight: bold;
        color: variables.$m-2;
      }
    }
  }
}
.page--services,
.page--residential-cleaning {
  .mil-word-frame {
    .mil-text-star {
      top: -30px;
      right: -50px;
    }
  }
}

.single-service {
  .mil-panel p {
    padding: 1rem 3rem;
  }
}

.legal {
  margin-bottom: 60px;

  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555555;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
