---
title: Snappy Clean
description: Yet Another Tailwind Alpine Starter Project for 11ty!
layout: layouts/base.njk
permalink: "services/"
---
{% include 'components/services/hero.njk' %}
{% include 'components/services/services.njk' %}
{% include 'components/global/calculator.njk' %}
{% include 'components/global/cta.njk' %}