---
title: Terms &amp; Contitions | Snappy Clean
description: Snappy Clean Terms and Services
layout: layouts/base.njk
permalink: "terms-and-conditions/"
---

{% include 'components/terms-and-conditions/hero.njk' %}
<div class="container legal">
    <p>By using our website to book a service, you acknowledge and agree to abide by the following terms and conditions. If
        you do not agree with these terms and conditions, we recommend that you refrain from booking a service with us.
    </p>
    <p>
        <strong>Booking Confirmation</strong>
    </p>
    <p>Booking a service online does not guarantee an immediate reservation. Upon receiving your booking request, we will
        contact you by email, phone, or text to confirm the availability and finalize the booking.</p>
    <p>
        <strong>Right to Refuse Service</strong>
    </p>
    <p>We reserve the right to deny or terminate service in situations involving safety concerns, inappropriate or
        uncomfortable environments, the presence of weapons on-premises, severe clutter, or disconnected utilities (such as
        electricity, heat in cold temperatures, and water).</p>
    <p>In certain circumstances, our providers may choose to leave a home that is in an extremely unsanitary condition or if
        they feel unsafe or threatened. If a cleaning request is deemed unreasonable, the cleaners may refuse service on the
        spot, and a cancellation fee will be charged.</p>
    <p>
        <strong>Cancellations and Rescheduling</strong>
    </p>
    <p>To ensure the consistency and reliability of our services, we kindly ask for a minimum of 48 hours notice for
        cancellations or rescheduling. Failure to provide adequate notice within this timeframe may result in a 50% charge of
        your appointment cost. In the event of a cancellation with less than 24 hours notice or if our team is unable to access
        your home, the full value of the service will be charged to the credit card on file. Your understanding and cooperation
        are greatly appreciated as we strive to maintain the quality and efficiency of our cleaning services.</p>
    <p>
        <strong>Service Fees</strong>
    </p>
    <p>Our quotes are based on our years of experience; however, the actual condition of the house may warrant adjustments
        to the price. In such cases, we will contact you to inform you of any changes before proceeding with the service.</p>
    <p>We reserve the right to re-evaluate rates based on the scope of work required to meet our client's standards. We will
        communicate any price or service revisions to the client if there is a significant difference in cleaning time.</p>
    <p>
        <strong>Payments</strong>
    </p>
    <p>Payments can be made by credit card or E-transfer. Credit cards will not be charged until after the appointment is
        completed. To secure reservations by E-transfer, payments must be paid 50% on the date of the booking &amp; 50% on
        completion of the job.</p>
    <p>
        <strong>Refund Policy</strong>
    </p>
    <p>We do not offer refunds as we strive to provide our clients with the best possible service. If any issues arise,
        please contact us within 24 hours, and we will correct any errors at no additional charge.
    </p>
    <p>
        <strong>Cleaning Providers</strong>
    </p>
    <p>Our cleaning providers have undergone thorough vetting before joining our team. We take pride in selecting providers
        with integrity, ensuring accountability in all our services.</p>
    <p>
        <strong>Add-on Services</strong>
    </p>
    <p>Additional services such as heavy-duty cleaning, pet hair removal, Interior appliance cleaning(oven, fridge/freezer),
        cleaning of the inside cabinets and drawers, washing/wiping down window blinds, interior window washing, washing walls
        (living area, kitchen, bedroom, etc.), tile and grout cleaning, garage, patio/balcony, washing dishes, laundry(wash and
        fold), decluttering/organization and steamed carpet cleaning are available at an extra charge. Please let us know in
        advance if you'd like to add any of these services to your booking.</p>
    <p>
        <strong>Pets</strong>
    </p>
    <p>While we work around pets, we request that indoor activity is limited during the cleaning process for efficiency and
        safety reasons. In cases where pets become anxious or present safety concerns, we reserve the right to remove our
        providers from your home.</p>
    <p>
        <strong>Cleaning Day Preparation</strong>
    </p>
    <p>The quoted cleaning price is based on the cleaners' efficiency and focus on cleaning tasks. We kindly ask that you
        take a few minutes to tidy up the areas to be cleaned, such as floors, countertops, and tabletops. This ensures easy
        access for our cleaners to deliver optimal results. Failure to do so can result in additional charges.</p>
    <p>
        <strong>Use of Homeowners Vacuum</strong>
    </p>
    <p>If you wish to use your vacuum, we will not accept any liability for damage to the unit. We are not responsible for
        the maintenance or repairs of homeowner-provided vacuums.</p>
    <p>
        <strong>Items We Cannot Clean</strong>
    </p>
    <p>Mold removal is a specialized service, and we cannot be liable for any mold-related risks in clients' homes. We also
        cannot clean hoarding homes or areas containing animal and human body fluids, blood, feces, vomit, cat litter boxes,
        bird cages, urine, or excretions.</p>
    <p>
        <strong>Unreachable Areas &amp; Heavy items</strong>
    </p>
    <p>For safety and liability reasons, our providers cannot climb higher than a step stool or work outside your home.
        Additionally, cleaners cannot move objects weighing more than 35 pounds. If you need to clean behind heavy objects,
        please move them before our cleaners arrive.</p>
    <p>
        <strong>Breakage/Damage &amp; Loss Policy</strong>
    </p>
    <p>While rare, the possibility of breakage or damage exists during cleaning. Our providers exercise reasonable care, and
        all providers carry insurance for damage or breakage caused by them. We are not liable for damage caused by normal wear
        and tear, improper installation of items, or undisclosed fragile items.
    </p>
    <p>
        <strong>Rate Adjustments</strong>
    </p>
    <p>Rate adjustments may be made at any time if changes occur in the frequency of scheduled services, home, or living
        situation (e.g., remodel, change of address, number of people in the home, significant addition of furniture). Any
        annual rate increase will not exceed 10% of the client's current rate.</p>
    <p>
        <strong>Lockouts</strong>
    </p>
    <p>To ensure smooth service, please make sure to provide access to our cleaning providers on the scheduled service day.
        If our team is locked out, we will make every effort to contact you to arrange entry. If we cannot reach you within 30
        minutes of arrival, the scheduled cleaning will be skipped, and you will be charged the full value of the cleaning.</p>
    <p>
        <strong>Alarm</strong>
    </p>
    <p>If your home has a security system, please ensure it is off or provide us with the code and usage instructions.
        Failure to do so may result in a lockout charge.</p>
    <p>
        <strong>Recurring Service Discounts</strong>
    </p>
    <p>Recurring service discounts begin after the first cleaning session. If you skip cleanings and reduce the frequency of
        your scheduled cleanings, your price will be adjusted accordingly.</p>
    <p>
        <strong>Non-Solicitation of Snappy Clean Providers</strong>
    </p>
    <p>As our customers, we ask that you agree not to solicit or hire any of our providers to work directly for you. Our
        professional cleaners are vetted, background checked, and have experience as cleaners. Significant time, resources &amp;
        money are invested in each new provider before we allow them to enter our customer’s homes.</p>
    <p>
        <strong>House Key/Key Release</strong>
    </p>
    <p>Upon termination/cancellation of services, Snappy Clean shall return any client key(s) in its possession no
        later than 48 hours after termination of services or the next business day.</p>
    <p>
        <strong>Cleaners Arrival Window</strong>
    </p>
    <p>To maintain low prices and avoid trip fees, we schedule cleanings to minimize drive time. While we strive to
        accommodate specific time requests, we cannot guarantee precise arrival times due to unforeseen circumstances such as
        traffic jams, weather conditions, or mechanical issues. Cleanings are generally scheduled between 8:00 am and 5:00 pm.
        If we are running late, we will contact you via call or text.</p>
    <p>
        <strong>Holidays</strong>
    </p>
    <p>Snappy Clean does not do stat holiday visits. If your scheduled day falls on a state holiday, we will contact
        you to reschedule.</p>
    <p>In the event the client chooses to leave a door unlocked or place a key under a mat or any other unsecured place for
        the cleaners to gain entry into the home, Snappy Clean will not be held liable for any damages or theft to the
        client’s home.</p>
    <p>
        <strong>Governing Law</strong>
    </p>
    <p>Any claim relating to the Snappy Clean website shall be governed by the laws of the Province of Alberta
        without regard to its conflict of law provisions.</p>
    <p>We have made every effort to design our website to be useful, informative, helpful &amp; honest, hopefully, we have
        accomplished that &amp; would ask that you let us know if you would like to see improvements or changes that would make
        it even easier for you to find the information you need.</p>
    <p>Snappy Clean reserves the right to change these terms &amp; conditions at any time without prior
                notice.</p>
</div>