<!-- blog -->
<div class="mil-p-0-30 mil-relative">
    <img src="/img/ui/bg.png" alt="background" class="mil-bg" style="top: -10rem">
    <div class="container">
        <div class="mil-section-title mil-mb-f ">
            <h2 class="mil-fs-36">Popular publications</h2>
            <div class="mil-dots"></div>
        </div>
        <div class="row mil-mb-60">
            <div class="col-12 col-sm-6 col-md-12 col-xl-6 mil-mb-15 ">
                <a href="publication.html" class="mil-blog-card mil-type-2 mil-br-lg">
                    <div class="mil-cover">
                        <img src="/img/blog/1.jpg" alt="cover">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 -text mil-m-3 mil-mr-5">Office</li>
                            <li class="mil-bg-a-2 -text mil-m-3 mil-mr-5">Dry Cleaning</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-mb-20">
                            <span class="mil-date">08, 24, 2024</span>
                            &nbsp; by &nbsp;
                            <span class="mil-a-2">Emma Miller</span>
                        </p>
                        <h5 class="mil-fs-24 mil-m-1 mil-mb-15 mil-lh-140">Keep your home and office clean effortlessly</h5>
                        <p class="mil-lh-180 mil-mb-30">Whether you work from home or in a traditional office setting, keeping your space clean
                            is key to staying productive and comfortable. Clutter and dirt can affect your mood, reduce efficiency, and even lead to
                            stress.</p>
                        <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">Read more</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-xl-6 mil-mb-15 ">
                <a href="publication.html" class="mil-blog-card mil-type-2 mil-br-lg">
                    <div class="mil-cover">
                        <img src="/img/blog/2.jpg" alt="cover">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 -text mil-m-3 mil-mr-5">Home</li>
                            <li class="mil-bg-m-4 -text mil-m-1 mil-mr-5">Windows</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-mb-20">
                            <span class="mil-date">08, 24, 2024</span>
                            &nbsp; by &nbsp;
                            <span class="mil-a-2">Oscar Newman</span>
                        </p>
                        <h5 class="mil-fs-24 mil-m-1 mil-mb-15 mil-lh-140">Natural Cleaning Products: Myths and Reality</h5>
                        <p class="mil-lh-180 mil-mb-30">The easiest way to prevent mess from piling up is by doing a little bit of cleaning
                            every day. Instead of letting tasks accumulate until the weekend or when you have more time, take a few minutes each day
                            to tidy up.</p>
                        <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">Read more</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-xl-6 mil-mb-15 ">
                <a href="publication.html" class="mil-blog-card mil-type-2 mil-br-lg">
                    <div class="mil-cover">
                        <img src="/img/blog/3.jpg" alt="cover">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 -text mil-m-3 mil-mr-5">Apartment</li>
                            <li class="mil-bg-a-1 -text mil-m-1 mil-mr-5">Post-construction</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-mb-20">
                            <span class="mil-date">08, 24, 2024</span>
                            &nbsp; by &nbsp;
                            <span class="mil-a-2">Emma Miller</span>
                        </p>
                        <h5 class="mil-fs-24 mil-m-1 mil-mb-15 mil-lh-140">Secrets to Effective Cleaning: What Everyone Should Know</h5>
                        <p class="mil-lh-180 mil-mb-30">Whether you work from home or in a traditional office setting, keeping your space clean
                            is key to staying productive and comfortable. Clutter and dirt can affect your mood, reduce efficiency, and even lead to
                            stress.</p>
                        <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">Read more</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-xl-6 mil-mb-15 ">
                <a href="publication.html" class="mil-blog-card mil-type-2 mil-br-lg">
                    <div class="mil-cover">
                        <img src="/img/blog/4.jpg" alt="cover">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 -text mil-m-3 mil-mr-5">Home</li>
                            <li class="mil-bg-m-4 -text mil-m-1 mil-mr-5">Windows</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-mb-20">
                            <span class="mil-date">08, 24, 2024</span>
                            &nbsp; by &nbsp;
                            <span class="mil-a-2">Oscar Newman</span>
                        </p>
                        <h5 class="mil-fs-24 mil-m-1 mil-mb-15 mil-lh-140">Natural Cleaning Products: Myths and Reality</h5>
                        <p class="mil-lh-180 mil-mb-30">The easiest way to prevent mess from piling up is by doing a little bit of cleaning
                            every day. Instead of letting tasks accumulate until the weekend or when you have more time, take a few minutes each day
                            to tidy up.</p>
                        <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">Read more</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mil-mb-30 ">
                <p class="mil-lh-160 mil-fs-18">Looking for more helpful tips to maintain cleanliness? Visit our blog and discover how
                    to keep your home and office spotless with ease! Click the button and see for yourself!</p>
            </div>
            <div class="col-lg-6 mil-jce mil-sm-jcs mil-mb-30 ">
                <a href="blog.html" class="mil-btn mil-bg-m-2-light mil-br-xl mil-hover-bg-a-1 mil-hover-scale mil-icon-btn">All
                    publications<i class="far fa-plus mil-bg-m-4 mil-m-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- blog end -->