<!-- hero -->
<div class="mil-hero-3 mil-relative" id="top">
    <img src="/img/ui/bg.png" alt="background" class="mil-bg" style="top: 0">
        <div class="container mil-column mil-jcb mil-h-100">
            <div class="row mil-jcb mil-h-100">
                <div class="col-lg-7">
                    <div class="mil-main-title mil-jcc mil-ais mil-column">
                        <div class="mil-column mil-sm-aic mil-mb-60 mil-md-mb-0 mil-w-100 pr-10">
                            <div class="mil-aic">
                                <div class="mil-word-frame">
                                    <h1 class="mil-fs-100 mil-sm-fs-72 mil-lh-110">Professional
                                        <span class="star-title relative inline-block">Cleaning{% include 'components/svg/star.njk' %}</span>
                                        Services<span class="inline-block"></span>
                                        in the {{ area }} region.<span class="inline-block">
                                            <img src="/img/ui/t2.jpg" alt="image" class="mil-text-image mil-long"/>
                                        </span>
                                    </h1>
                                </div>
                            </div>
                            <div class="mt-8 mil-fs-32 mb-20">
                                <p>Save Time, Sparkle More &mdash; Get Your Free Cleaning Quote&nbsp;Today!</p>
                            </div>
                            <div class="mil-buttons-frame">
                                <a href="services.html" class="mil-btn mil-icon-btn mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-hover-scale">Contact Us<i class="far fa-plus mil-bg-m-4 mil-m-1"></i>
                                </a>
                                <a href="/quote" class="mil-link mil-m-1 mil-reverse">{{ data.quoteText }}<i class="far fa-calculator mil-bg-a-2 mil-m-4" style="padding: .2rem 0 0 .2rem"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="mil-hero-right-image">
                        <img src="/img/hero/1.jpg" alt="image" class="mil-scale-img-top" data-value-1="1" data-value-2="1.1"></div>
                    </div>
                </div>
                <div class="mil-hero-cards-frame">
                    <div class="row">
                        <div class="col-lg-7 col-xxl-4 mil-mb-15">
                            <div class="mil-hero-users-card mil-bg-a-2 mil-br-md">
                                <div class="mil-aic mil-mb-30">
                                    {% include 'components/global/users-inline-light.njk' %}
                                    <span class="mil-fs-32 mil-fw-700 mil-m-4 mil-ml-30">117+</span>
                                </div>
                                <p class="mil-fs-18 mil-m-4 mil-mr-15 mil-sm-mr-0" style="opacity: .7">More than 117+ customers have already appreciated
                                    all our advantages. Try it for yourself!</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xxl-3 mil-mb-15">
                            <div class="mil-hero-reviews-card mil-bg-m-4 mil-br-md">
                                <h3 class="mil-fs-32 mil-mb-30">Clean spaces,
                                    <br>happy faces</h3>
                                    <a href="#reviews" class="mil-link mil-m-1">read reviews<i class="far fa-arrow-right mil-bg-a-1 mil-m-1" style="padding: .2rem 0 0 .2rem"></i>
                                    </a>
                                </div>
                            </div>
                            {% include 'components/global/discount-card.njk' %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- hero end -->