<!-- reviews -->
<div class="" id="reviews">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Clients Voices</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">04</b>
        </div>
        <div class="mil-revi-pagination mil-up mil-mb-60"></div>
        <div class="row mil-jcc">
            <div class="col-lg-8 mil-relative">
                <div class="mil-slider-nav mil-soft mil-reviews-nav mil-up">
                    <div class="mil-slider-arrow mil-prev mil-revi-prev">
                        <i class="far fa-arrow-right"></i>
                    </div>
                    <div class="mil-slider-arrow mil-revi-next">
                        <i class="far fa-arrow-right"></i>
                    </div>
                </div>
                <div class="swiper-container mil-reviews-slider mil-mb-60">
                    <div class="swiper-wrapper">
                        {% for review in reviews %}
                            <div class="swiper-slide">
                                <div
                                    class="mil-review-frame mil-tac"
                                    data-swiper-parallax="-600"
                                    data-swiper-parallax-opacity="0"
                                    data-swiper-parallax-scale=".6">
                                    <h5 class="mil-fs-28 mil-m-1 mil-up mil-mb-15">{{ review.name }}</h5>
                                    <p class="mil-m-1 mil-up-text mil-up mil-mb-40">{{ review.city }}</p>
                                    <div class="mil-fs-72 mil-a-2 mil-lh-100 mil-up" style="transform: translateX(-1rem)">
                                        <i>"</i>
                                    </div>
                                    <p class="mil-fs-22 mil-m-1 mil-lh-200 mil-up">{{ review.review }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mil-aic mil-jcc mil-up">
                    <p class="mil-mr-15">Overall:</p>
                    <i class="fas fa-star mil-fs-20 mil-a-1 mil-mr-5"></i>
                    <i class="fas fa-star mil-fs-20 mil-a-1 mil-mr-5"></i>
                    <i class="fas fa-star mil-fs-20 mil-a-1 mil-mr-5"></i>
                    <i class="fas fa-star mil-fs-20 mil-a-1 mil-mr-5"></i>
                    <i class="fas fa-star mil-fs-20 mil-a-1 mil-mr-15"></i>
                    <p>4.9/5.0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- reviews end -->