 <!-- team -->
            <div class="mil-p-f-15 mil-relative">
                <img src="/img/ui/bg.png" alt="background" class="mil-bg" style="top: -10rem">
                <div class="container">
                    <div class="mil-section-title mil-mb-f mil-up">
                        <h2 class="mil-fs-36">Meet our team</h2>
                        <div class="mil-dots"></div>
                    </div>
                    <div class="row mil-mb-30">
                        <div class="col-6 col-md-4 col-lg-2 mil-mb-15 mil-up">
                            <div class="mil-team-card">
                                <img src="/img/team/1.jpg" alt="Team member">
                                <div class="mil-descr">
                                    <h5 class="mil-fs-20 mil-m-4 mil-mb-15">Sarah Newman</h5>
                                    <p class="mil-m-2 mil-up-text">Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2 mil-mb-15 mil-up">
                            <div class="mil-team-card">
                                <img src="/img/team/2.jpg" alt="Team member">
                                <div class="mil-descr">
                                    <h5 class="mil-fs-20 mil-m-4 mil-mb-15">Sarah Newman</h5>
                                    <p class="mil-m-2 mil-up-text">Cleaner</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2 mil-mb-15 mil-up">
                            <div class="mil-team-card">
                                <img src="/img/team/3.jpg" alt="Team member">
                                <div class="mil-descr">
                                    <h5 class="mil-fs-20 mil-m-4 mil-mb-15">Sarah Newman</h5>
                                    <p class="mil-m-2 mil-up-text">Cleaner</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2 mil-mb-15 mil-up">
                            <div class="mil-team-card">
                                <img src="/img/team/4.jpg" alt="Team member">
                                <div class="mil-descr">
                                    <h5 class="mil-fs-20 mil-m-4 mil-mb-15">Sarah Newman</h5>
                                    <p class="mil-m-2 mil-up-text">Cleaner</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2 mil-mb-15 mil-up">
                            <div class="mil-team-card">
                                <img src="/img/team/5.jpg" alt="Team member">
                                <div class="mil-descr">
                                    <h5 class="mil-fs-20 mil-m-4 mil-mb-15">Sarah Newman</h5>
                                    <p class="mil-m-2 mil-up-text">Cleaner</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-2 mil-mb-15 mil-up">
                            <div class="mil-team-card">
                                <img src="/img/team/6.jpg" alt="Team member">
                                <div class="mil-descr">
                                    <h5 class="mil-fs-20 mil-m-4 mil-mb-15">Sarah Newman</h5>
                                    <p class="mil-m-2 mil-up-text">Cleaner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mil-mb-15">
                            <div class="mil-cta mil-br-lg mil-bg-a-1 mil-aicb mil-up">
                                <div class="row mil-jcb">
                                    <div class="col-lg-6 mil-mb-30">
                                        <h5 class="mil-fs-32 mil-m-1">Highly skilled professionals are always at your service.</h5>
                                    </div>
                                    <div class="col-lg-6 mil-jce mil-md-jcs mil-mb-30">
                                        <a href="/contact" class="mil-btn mil-icon-btn mil-bg-m-1 mil-m-4 mil-br-xl mil-hover-bri-105 mil-hover-scale">Choose a service<i class="far fa-arrow-right mil-bg-a-1 mil-m-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mil-mb-15">
                            <div class="mil-cta mil-br-lg mil-bg-m-4 mil-jcc mil-column mil-up">
                                <h5 class="mil-fs-22 mil-md-fs-32 mil-m-1 mil-mb-15 mil-md-mb-30">We accept your requests 24 hours a day, 7 days a week</h5>
                                <a href="/contact" class="mil-link mil-m-1 mil-mb-15">Get in touch<i class="far fa-arrow-right mil-bg-m-3 mil-m-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- team end -->