<div class="mil-p-0-15" id="scroll">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Write to us</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">01</b>
        </div>
        <div class="row">
            <div class="col-lg-6 mil-mb-15 mil-up">
                <div class="mil-hero-form-frame mil-bg-m-4 mil-br-md">
                    <div class="mil-aic mil-column">
                        <h3 class="mil-fs-32 mil-tac mil-lh-140 mil-mb-60">We accept your requests
                            <br>24 hours a day, 7 days a week</h3>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-6 mil-mb-15">
                                    <div class="mil-input-frame">
                                        <input type="text" id="user-name" name="user-name" placeholder="Name" class="mil-br-md mil-bg-m-3" autocomplete="name">
                                            <i class="far fa-user mil-a-2"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 mil-mb-15">
                                        <div class="mil-input-frame">
                                            <input
                                                type="email"
                                                id="user-email"
                                                name="user-email"
                                                placeholder="Email"
                                                class="mil-br-md mil-bg-m-3"
                                                autocomplete="email">
                                                <i class="far fa-at mil-a-2"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mil-mb-15">
                                            <div class="mil-input-frame">
                                                <input
                                                    type="tel"
                                                    id="user-phone"
                                                    name="user-tel"
                                                    class="mil-phone-input mil-br-md mil-bg-m-3"
                                                    placeholder="+38 (___) ___-__-__"
                                                    autocomplete="tel">
                                                    <i class="far fa-mobile mil-a-2"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mil-mb-15">
                                                <div class="mil-input-frame mil-custom-select">
                                                    <div class="mil-select-button mil-br-md mil-bg-m-3 mil-m-1">
                                                        <span class="mil-selected-value">Services</span>
                                                    </div>
                                                    <ul class="mil-select-dropdown mil-br-md">
                                                        <li>
                                                            <input type="radio" id="option1" name="select" value="Apartment cleaning">
                                                                <label for="option1">Apartment cleaning</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" id="option2" name="select" value="Home cleaning">
                                                                    <label for="option2">Home cleaning</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" id="option3" name="select" value="Office cleaning">
                                                                        <label for="option3">Office cleaning</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" id="option5" name="select" value="Window cleaning">
                                                                            <label for="option5">Window cleaning</label>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" id="option6" name="select" value="Dry cleaning">
                                                                                <label for="option6">Dry cleaning</label>
                                                                            </li>
                                                                        </ul>
                                                                        <i class="far fa-chevron-down mil-a-2"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 mil-mb-30">
                                                                    <div class="mil-input-frame mil-type-2">
                                                                        <textarea id="message" name="message" placeholder="Enter your message" class="mil-br-md mil-bg-m-3" autocomplete="off"></textarea>
                                                                        <i class="far fa-comment-alt mil-a-2"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 mil-aic">
                                                                    <p class="mil-fs-14 mil-m-2">By clicking the send button, you agree to the rules for processing personal data</p>
                                                                    <button class="mil-btn mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-hover-scale mil-ml-60 mil-sm-ml-30" type="submit">Send
                                                                        requests</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mil-mb-15 mil-up">
                                                    <div class="mil-map-frame">
                                                        <iframe
                                                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9791.07623995444!2d-73.55008160794402!3d45.52344279378965!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91ba5debafb97%3A0xccd54ebd07303f2c!2sPrison-des-Patriotes!5e0!3m2!1sen!2sua!4v1731163624623!5m2!1sen!2sua"
                                                            width="600"
                                                            height="450"
                                                            style="border:0;"
                                                            allowfullscreen=""
                                                            loading="lazy"
                                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>