<div class="mil-p-0-15" id="scroll">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Write to us</h2>
            <div class="mil-dots"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 mil-mb-15 mil-up">
                <div class="mil-hero-form-frame mil-bg-m-4 mil-br-md h-full">
                    <div class="mil-aic mil-column">
                        <h3 class="mil-fs-32 mil-tac mil-lh-140 mil-mb-60">We accept your requests <br/>24 hours a day, 7 days a week</h3>
                    </div>
                    <form id="contact-form" name="contact" method="POST" data-netlify="true" action="/thank-you">
                        <div class="grid grid-cols-2 gap-4">
                            <div class="">
                                <div class="mil-input-frame">
                                    <input type="text" id="user-name" name="user-name" placeholder="Name" class="mil-br-md mil-bg-m-3" autocomplete="name"/>
                                    <i class="far fa-user mil-a-2"></i>
                                </div>
                            </div>
                            <div class="">
                                <div class="mil-input-frame">
                                    <input
                                        type="email"
                                        id="user-email"
                                        name="user-email"
                                        placeholder="Email"
                                        class="mil-br-md mil-bg-m-3"
                                        autocomplete="email"/>
                                    <i class="far fa-at mil-a-2"></i>
                                </div>
                            </div>
                            <div class="">
                                <div class="mil-input-frame">
                                    <input
                                        type="tel"
                                        id="user-phone"
                                        name="user-tel"
                                        class="mil-phone-input mil-br-md mil-bg-m-3"
                                        placeholder="Phone Number"
                                        autocomplete="tel"/>
                                    <i class="far fa-mobile mil-a-2"></i>
                                </div>
                            </div>
                            <div class="">
                                <div class="mil-input-frame mil-custom-select">
                                    <fieldset class="mil-mb-15">
                                        <div class="mil-input-frame mil-custom-select w-full">
                                            <div tabindex="0" class="mil-select-button mil-br-md mil-bg-m-3">
                                                <span class="mil-selected-value mil-fs-18 mil-fw-600 mil-m-1 leading-none">What service are you looking&nbsp;for?</span>
                                            </div>
                                            <ul class="mil-select-dropdown mil-cleaning-type mil-br-md">
                                                <li>
                                                    <input type="radio" id="basic-cleaning" name="cleaning" value="basic-cleaning" checked="checked"/>
                                                    <label for="basic-cleaning">Standard Cleaning</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="deep-cleaning" name="cleaning" value="deep-cleaning"/>
                                                    <label for="deep-cleaning">Deep Cleaning</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="general-cleaning" name="cleaning" value="general-cleaning"/>
                                                    <label for="general-cleaning">Monthly cleaning</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="move-in-out" name="cleaning" value="move-in-out"/>
                                                    <label for="move-in-out">Move In/Out Cleaning</label>
                                                </li>
                                            </ul>
                                            <i class="far fa-chevron-down mil-a-2"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <div class="mil-input-frame mil-type-2">
                                    <textarea id="message" name="message" placeholder="Enter your message" class="mil-br-md mil-bg-m-3" autocomplete="off"></textarea>
                                    <i class="far fa-comment-alt mil-a-2"></i>
                                </div>
                            </div>
                            <div class="mil-aic col-span-2 mil-mt-30">
                                <p class="mil-fs-14 mil-m-2">By clicking the send button, you agree to the rules for processing personal data</p>
                                <button class="mil-btn mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-hover-scale mil-ml-60 mil-sm-ml-30" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 mil-mb-15 mil-up flex flex-col gap-6">
                <div class="mil-features mil-bg-m-4 mil-br-md mil-up">
                    <div class="row p-20">
                        <div class="col-lg-6 mil-tac flex justify-center items-center flex-col">
                            <img src="/img/ui/icons/13.png" alt="icon" class="mil-card-icon max-w-28 mb-10">
                            <h3 class="mil-fs-30 mil-mb-20 mil-lh-110">Write</h3>
                            <a href="mailto:{{ data.email }}" class="mil-fs-18 mil-mb-5" target="_blank">{{ data.email }}</a>
                        </div>
                        <div class="col-lg-6 mil-tac flex justify-center items-center flex-col">
                            <img src="/img/ui/icons/14.png" alt="icon" class="mil-card-icon max-w-28 mb-10">
                            <h3 class="mil-fs-30 mil-mb-20 mil-lh-110">Call</h3>
                            <a href="tel:{{ data.phoneNoSpaces }}" class="mil-fs-18 mil-mb-5" target="_blank">{{ data.phone }}</a>
                        </div>
                    </div>
                </div>
                <div class="mil-map-frame">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>